<a href="https://colab.research.google.com/github/harshalDharpure/Complete-Python_codes/blob/main/Complete_Python_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Complete Python Codes")

In [ ]:
#Indentation Error
if 5>2:
  print("Five is Greater that two")

In [ ]:
x=5
y="harshal"
print(x)

In [ ]:
print(y)

In [ ]:
##this is comment
#print("Hello WORLD")

In [ ]:
#Type Casting 
x=str(123)
print(x)

In [ ]:
x=float(3)
print(x)

In [ ]:
x="harshal"
print(type(x))

In [ ]:
my_variable_name = "John"
print(my_variable_name)

In [ ]:
x,y,z= "harsha","preet","shree"
print(x)

In [ ]:
print(x)

In [ ]:
print(z)

In [ ]:
print(y)

In [ ]:
#one value to multiple variables
x=y=z="orange"
print(x)

In [ ]:
print(y)

In [ ]:
#unpack the collection
fruits=["apple","orange","mango"]
x,y,z=fruits
print(x)

In [ ]:
print(y)

In [ ]:
print(z)

In [ ]:
#print function output variables
x="harshal"
y="shree"
z="friends"
print(x,y,z)

In [ ]:
x="harshal"
y="shree"
z="friends"
print(x +y+z)

In [ ]:
#global variables
x="harshal & shree"

def myfun():
  print("Good People "+x)

myfun()

In [ ]:
##Global Keyword
def myfun():
  global x
  x="harsha"

myfun()

print("python is  a"+x)

In [ ]:
## Assigning a Global Keyword
x= "awesome"

def myfun():
  global x
  x="harshal"

myfun()

print("python is a "+x)

In [ ]:
x=b"harshal"
print(x)

In [ ]:
x={"name":"John","age":30}
print(x)

In [ ]:
x=-32653
print(type(x))

In [ ]:
x=35e3
print(type(x))

In [ ]:
y=12E4
print(type(y))

In [ ]:
##Type Conversion in Python

x=1
a=float(x)

In [ ]:
print(a)

In [ ]:
y=2.0
b=int(y)
print(b)

In [ ]:
##Generating the Random Integer
import random
print(random.randrange(1,100))

###Python Strings

In [ ]:
print("Hello World")

In [ ]:
a=""" This is harshal dharpure My professional 
elective subject is Natural Language Processing.
It is Widely used in the Industry
"""
print(a)

In [ ]:
a="hello string in Python"
print(a[1])

In [ ]:
print(a[2])

In [ ]:
#Looping Through a String
for x in "banana":
  print(x)

In [ ]:
for x in "apple":
  print(x)

In [ ]:
for v in (1,10):
  print(v)

In [ ]:
##String Length
a="Hello world"
print(len(a))

In [ ]:
##Check String in the text
txt="The best things about me is to manage the Time very well"
print("Time" in txt)

In [ ]:
txt="I am Cool Boy with the perfect attitude "
if "perfect" in txt:
  print("Yes, 'free' is Present")

In [ ]:
##Check if Not
txt="The best things in Life are Free"
print("best" not in txt)

In [ ]:
txt="Harshal is a creative boy with the Mind Blowing idea"
if "Harshall" not in txt:
  print("Yes Harshal is present")

###Python String Slicing

In [ ]:
b="Hello World !"
print(b[2:5])

In [ ]:
print(b[:5])

In [ ]:
#start from the end
print(b[2:])

In [ ]:
##Negative Indexing
b="Hello ,World"
print(b[-5:-2])

###Python Modifying String

In [ ]:
##Upper Case
a="Harshal Dharpure"
print(a.upper())

In [ ]:
x="hasrhal Dharpure"
print(x.upper())

In [ ]:
print(x.lower())

In [ ]:
print(x.strip())

In [ ]:
##Removing the White Spaces
a="   Harsbaksb mdllfdf  "
print(a.strip())

In [ ]:
a="harshal and shree"
print(a.replace("harshal","Aniket"))

In [ ]:
##split the string
a="harshal, Dharpure"
print(a.split(","))

In [ ]:
a="harshal dharpure"
print(a.capitalize())

In [ ]:
print(a.casefold())

In [ ]:
txt="banana"
x=txt.center(20)
print(x)

In [ ]:
##String Concatenation
a="Hello"
b="White"
print(a+b)
c=a+b
print(c)

In [ ]:
print(a+" "+b)

In [ ]:
##Python Format String
age=36
txt="My name is Jhon, and I am {}"
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
x="harshal"
print(len(x))

##Python String Formatting

In [ ]:
price=45
txt="Hello world is {:.2f} dollors"
print(txt.format(price))

In [ ]:
price=45
txt="Hello world is {} dollors"
print(txt.format(price))

In [ ]:
print(txt.format(price))

In [ ]:
price=45
count=78
item="orange"
txt="hello i want {1} in {0} or {2}"
print(txt.format(price,item,count))

In [ ]:
##Named in Index
myorder="I have a {carname},it is a {Model}"
print(myorder.format(carname="Ford",Model="Mustang"))

##Python Maths

In [ ]:
x=min(5,10,25)
y=max(5,10,23)
print(x)

In [ ]:
print(y)

In [ ]:
##abs function returns a absolute value
x=abs(-7.25)
print(x)

In [ ]:
##pow() returns the value of x to the power of y
x=pow(4,3)
print(x)

In [ ]:
import math
x=math.sqrt(64)
print(x)

In [ ]:
##ceil and Floor function performing
x=math.ceil(1.4)
y=math.floor(1.4)
print(x)

In [ ]:
print(y)

In [ ]:
import math
x=math.pi
print(x)

###Python Json

In [ ]:
import json
x='{"age":30,"name":"harshal","city":"Amravati"}'
y=json.loads(x)
print(y["age"])

##json.loads() we can convert the json string in the Python

In [ ]:
##Converting Python to Json
##json.dumps() is used to convert python to json
import json
x={
    
    "name":"john",
   "age":30,
   "address":"sainagar Devrankar layout wardha"
}

y=json.dumps(x)
print(y)

In [ ]:
##Converting the python objects to Json String and Print the values
import json
print(json.dumps({"name":"John","age":30}))

In [ ]:
print(json.dumps(["apple","bananas"]))
print(json.dumps(("apple","bananas")))

In [ ]:
print(json.dumps("hello world"))

In [ ]:
print(json.dumps(True))

In [ ]:
print(json.dumps(False))

In [ ]:
print(json.dumps(None))

###Python RegEx Regular Expression

In [ ]:
import re
txt="The rain in spain"
x=re.search("^The.*Spain$",txt)

In [ ]:
print(x)

In [ ]:
##findall function
import re
txt="The rain in spain"
x=re.findall("ai",txt)
print(x)

In [ ]:
txt="The rain in the spain"
x=re.findall("Portugal",txt)
print(x)

In [ ]:
## Search() Function
import re
txt="The rain in the Spain"
x=re.search("\s",txt)
print("The first white-space character is located in position",x.start())

In [ ]:
x=re.search("India",txt)
print(x)

In [ ]:
##split Function returns the string that has been split at each match
import re
txt="The rain in the spain"
x=re.split("\s",txt)
print(x)

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

###Python Modules

In [ ]:
x

##Python for Loops

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

In [ ]:
##Break statement in the Python
fruits=["apple","banana","cheery"]
for x in fruits:
  print(x)
  if x=="banana":
    break

In [ ]:
##Continue Statements in the Python
fruits=["apple","cherry","banana","mango"]
for x in fruits:
 
  if x=="cherry":
    continue
  print(x)

In [ ]:
##Range Function in Python

for x in range(6):
  print(x)

In [ ]:
for x in range(2,9):
  print(x)

In [ ]:
for x in range(2,30,3):
  print(x)

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally Finished !")

In [ ]:
for x in range(6):
  if x==3:break
  print(x)
else:
  print("Finally Finished")

In [ ]:
## Nested Else Statement

adj=["red","big","tastey"]
fruits=["apple","banana","cherry"]

for x in adj:
  for y in fruits:
    print(x,y)

###The Pass Statement

In [ ]:
for x in [0,1,2]:
  pass

In [ ]:
###